body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.card {
    aspect-ratio: 1 / 1;
    /*height: 100px;*/
    border: 1px solid gray;
    margin: 8px 8px 0 0;
    cursor: pointer;
    background-size: cover;
}

.finish {
  align-self: center;
  text-align: center;
  margin: auto;
}

#board {
    /*width: 640px;*/
    aspect-ratio: 16 / 12;
    height: calc(100vh - 40px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#controlPanel {
    display: flex;
    font-size: 20px;
}

#scoreOutput {
    margin-left: 20px;
    font-weight: bold;
}
